# Dependencies
node_modules/

# Builds
/dist/
**/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage
coverage/

# Env files (keep example)
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db
